    <%- include('../partials/head') %> 

<body class="indexMovies">

    <!-- Header section -->
    <%- include('../partials/header') %> 

    <!-- Options section -->
    <div class="section-cart">
        <div class="options">
            <span class="options__list"><a href="#">Estrenos</a></span>
            <span class="options__list"><a href="#">Historial</a></span>
            <span class="options__list"><a href="#">Mis compras</a></span>
        </div>
    </div>
    <div class="section-cartDesktop">
        <div class="options-desktop">
            <span class="options__list-desktop"><a href="#">Estrenos</a></span>
            <span class="options__list-desktop"><a href="#">Historial</a></span>
            <span class="options__list-desktop"><a href="#">Mis compras</a></span>
            <span class="options__list-desktop"><a href="#">Ayuda</a></span>
        </div>
    </div>
    <!-- grid section movies -->
    <div class="contain-grid">
        <div class="contain-list">
            <span class="gender__grid">Ciencia Ficcion</span>
            <div class="movies__section">
                <% let moviesFiction = movies.filter(elem => elem.gender === "Ciencia Ficcion")
                moviesFiction.forEach(movie => { %>
                    <div class="contain-img">
                        <a href="<%- movie.id %>">
                            <img src="<%- movie.image %> " alt="">
                        </a>
                    </div>
                <% }) %>
                <div>
                    <button type="button" class="see-more">Ver m치s</button>
                </div>
            </div>
        </div>
        <div class="contain-list">
            <span class="gender__grid">Comedia</span>
            <div class="movies__section">
                <% let moviesComedy = movies.filter(elem => elem.gender === "Comedia")
                moviesComedy.forEach(movie => { %>
                    <div class="contain-img">
                        <a href="<%- movie.id %>">
                            <img src="<%- movie.image %> " alt="">
                        </a>
                    </div>
                <% }) %>
                <div>
                    <button type="button" class="see-more">Ver m치s</button>
                </div>
            </div>
        </div>
        <div class="contain-list">
            <span class="gender__grid">Terror</span>
            <div class="movies__section">
                <% let moviesTerror = movies.filter(elem => elem.gender === "Terror")
                moviesTerror.forEach(movie => { %>
                    <div class="contain-img">
                        <a href="<%- movie.id %>">
                            <img src="<%- movie.image %> " alt="">
                        </a>
                    </div>
                <% }) %>
                <div>
                    <button type="button" class="see-more">Ver m치s</button>
                </div>
            </div>
        </div>
        <div class="contain-list">
            <span class="gender__grid">Animacion</span>
            <div class="movies__section">
                <% let moviesAnim = movies.filter(elem => elem.gender === "Animacion")
                moviesAnim.forEach(movie => { %>
                    <div class="contain-img">
                        <a href="<%- movie.id %>">
                            <img src="<%- movie.image %> " alt="">
                        </a>
                    </div>
                <% }) %>
                <div>
                    <button type="button" class="see-more">Ver m치s</button>
                </div>
            </div>
        </div>
       

    </div>
    <!-- Footer section -->
    <%- include('../partials/footer')  %>
</body>
</html>