    <%- include('../partials/head') %> 

<body class="indexProducts">

    <!-- Header section -->
    <%- include('../partials/header') %> 

    <!-- Options section -->
    <div class="section-cart">
        <div class="options">
            <span class="options__list"><a href="#">Estrenos</a></span>
            <span class="options__list"><a href="#">Historial</a></span>
            <span class="options__list"><a href="#">Mis compras</a></span>
        </div>
    </div>
    <div class="section-cartDesktop">
        <div class="options-desktop">
            <span class="options__list-desktop"><a href="#">Estrenos</a></span>
            <span class="options__list-desktop"><a href="#">Historial</a></span>
            <span class="options__list-desktop"><a href="#">Mis compras</a></span>
            <span class="options__list-desktop"><a href="#">Ayuda</a></span>
        </div>
    </div>
    <!-- grid section movies -->
    <div class="contain-grid">
        <% genderFilter.forEach(gender => { %>
            <div class="contain-list">
                <span class="gender__grid"><%- gender.name %></span>
                <div class="movies__section">
                    <% movies.forEach(elem => {
                        if(gender.id === elem.gender) { %>
                        <div class="contain-img">
                            <a href="/products/serialMovie/<%- elem.id %>">
                                <img src="/img/products-images/<%- elem.image %>" alt="">
                            </a>
                        </div>
                    <% } }) %>
                    <div>
                        <button type="button" class="see-more">Ver más</button>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    <!-- Footer section -->
    <%- include('../partials/footer')  %>
</body>
</html>