    <%- include('../partials/head') %> 

<body class="indexProducts">

    <!-- Header section -->
    <%- include('../partials/header') %> 

    <!-- Options section -->
    <div class="section-cart">
        <div class="options">
            <span class="options__list"><a href="#">Estrenos</a></span>
            <span class="options__list"><a href="#">Historial</a></span>
            <span class="options__list"><a href="#">Mis compras</a></span>
        </div>
    </div>
    <div class="section-cartDesktop">
        <div class="options-desktop">
            <span class="options__list-desktop"><a href="#">Estrenos</a></span>
            <span class="options__list-desktop"><a href="#">Historial</a></span>
            <span class="options__list-desktop"><a href="#">Mis compras</a></span>
            <span class="options__list-desktop"><a href="#">Ayuda</a></span>
        </div>
    </div>
    <!-- grid section movies -->
    <div class="contain-grid">
        <% genres.forEach(elem => { let count = 0 %>
            <div class="contain-list">
                <span class="gender__grid"><%- elem.name %></span>
                <div class="movies__section">
                    <% movies.forEach(element => {
                        element.Genres.forEach(i => {
                            if(elem.name == i.name && count < 4) { %>
                                <div class="contain-img">
                                    <a href="/products/serialMovie/<%= element.id %>">
                                        <img src="/img/products-images/<%= element.image %>" alt="">
                                    </a>
                                </div>
                            <% count += 1 } %>
                        <% } ) %>
                    <% } ) %>
                    <div>
                        <button type="button" class="see-more">Ver más</button>
                    </div>
                </div>
            </div>
        <% } ) %>
    </div>
    <!-- Footer section -->
    <%- include('../partials/footer')  %>
    <%- include('../partials/scripts.ejs') %>
</body>
</html>