<%- include('../partials/head') %> 

<body class="indexProducts">

    <!-- Header section -->
    <%- include('../partials/header') %> 

    <!-- Options section -->
    <div class="section-cart">
        <div class="options">
            <span class="options__list"><a href="/products/premieres">Estrenos</a></span>
            <span class="options__list"><a href="#">Historial</a></span>
            <span class="options__list"><a href="/products/cart">Mis compras</a></span>
        </div>
    </div>
    <div class="section-cartDesktop">
        <div class="options-desktop">
            <span class="options__list-desktop"><a href="/products/premieres">Estrenos</a></span>
            <span class="options__list-desktop"><a href="#">Historial</a></span>
            <span class="options__list-desktop"><a href="/products/cart">Mis compras</a></span>
            <span class="options__list-desktop"><a href="/faq">Ayuda</a></span>
        </div>
    </div>
    <!-- grid section movies -->
    <div class="contain-grid">
        <% genres.forEach(elem => { let count = 0 %>
            <div class="contain-list">
                <a href="/products/series?genre=<%= elem.name %>"><span class="gender__grid"><%- elem.name %></span></a>
                <div class="movies__section">
                    <% series.forEach(element => {
                        element.Genres.forEach(i => {
                            if(elem.name == i.name && count < 4) { %>
                                <a href="/products/serialSerie/<%= element.id %>">
                                    <div class="contain-img">
                                        <img src="/img/products-images/<%= element.image %>" alt="">
                                    </div>
                                </a>
                            <% count += 1 } %>
                        <% } ) %>
                    <% } ) %>
                    <div>
                        <a href="/products/series?genre=<%= elem.name %>"><button type="button" class="see-more">→</button></a>
                    </div>
                </div>
            </div>
        <% } ) %>
    </div>
    <!-- Footer section -->
    <%- include('../partials/footer')  %>
    <%- include('../partials/scripts.ejs') %>
</body>
</html>