<%- include('../partials/head') %> 

<body class="contain-body">
    
    <%- include('../partials/header') %>

    <main class="contenido">
        <div class="contenedor-padre">
            <div class="image-container">
                <iframe src="https://www.youtube.com/embed/<%- detailSerie.trailer %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="corazon">
                    <form action='/users/favorites?id=<%- detailSerie.id %>&product=Serie' method="post">
                        <button type="submit"><i class="fas fa-heart"></i></button>
                    </form>
                    <a href="/products/cart" onclick="addSerieCart('<%- detailSerie.id %>')"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        </div>
        <div class="container-pd">
            <div class="contein-options">
                <div class="barOptions">
                    <nav id="navOpt">
                        <h3>Generos</h3>
                        <i class="fas fa-align-justify"></i>
                    </nav>
                    <a href=""><h3>Historial</h3></a>
                    <a href=""><h3>Lista de deseos</h3></a>
                    <a href=""><h3>Estrenos</h3></a>
                    <a href=""><h3>Ofertas</h3></a>
                </div>
            </div>
            <div class="title">
                <h3><%= detailSerie.title %></h3>
            </div>
            <div class="contenedor-box2">
                <a href="https://www.youtube.com/watch?v=<%= detailSerie.trailer%>" id="trailer" target="_blank"><img src="/img/products-images/<%= detailSerie.image%>"></a>
                <div class="play">
                    <i class="fas fa-play" id="icon-play"></i>
                </div>
            </div>
            <div class="opcionesPelicula">
                <p>Idioma: <% detailSerie.Idioms.forEach(element => { %>
                    <%= element.name %>
                <% }) %></p>
                <p class="espacios">|</p>
                <p>Subtítulos: <%- detailSerie.subtitle %></p>
                <p class="espacios">|</p>
                <p>Calidad: HD</p>
            </div>
            <div class="contenedor-estadisticas">
                <div>
                    <div class="estrella">
                        <h5><%= detailSerie.rating%> </h5>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>Calificación</p>
                </div>
                <p class="espacios">|</p>
                <div class="estadisticas">
                    <h5>PG-18</h5>
                    <p>Clasificación</p>
                </div>
                <p class="espacios">|</p>
                <div class="estadisticas">
                    <h5><%= detailSerie.seasons%></h5>
                    <p>Temporadas</p>
                </div>
            </div>
            <div class="resumen-movie">
                <p><%= detailSerie.description%></p>
            </div>
            <div class="container-director">
                <h5>Director: <%= detailSerie.director%></h5>
                <h5>Año: <%= detailSerie.age.substr(0,4) %> </h5>
                <h5>Género: <% detailSerie.Genres.forEach(element => { %>
                    <%= element.name %>
                <% }) %></h5>
            </div>
            <div class="icons">
                <form action='/users/favorites?id=<%- detailSerie.id %>&product=Serie' method="post">
                    <button type="submit">
                        <i class="fas fa-heart"></i>Añadir a favoritos
                    </button>
                </form>
                <a href="/products/cart" onclick="addSerieCart('<%- detailSerie.id %>')"><i class="fas fa-cart-plus"></i> Añadir a carrito</a>
            </div>
            <div class="botones">
                <div class="btn-cont">
                    <button type="button" class="compra" id="comprar-serie" onclick="location.href='/products/cart'">COMPRAR</button>
                    <h5>$<%= detailSerie.Price.buy%></h5>
                    <button type="button" class="alquilo" id="alquilo-serie" onclick="location.href='/products/cart'">ALQUILAR</button>
                    <h5>$<%= detailSerie.Price.rental%></h5>
                </div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer')  %>
    <%- include('../partials/scripts.ejs') %>
</body>
</html>

