<%- include('../partials/head') %> 

<body class="contain-body">
    
    <%- include('../partials/header') %>

    <main class="contenido">
        <div class="contenedor-padre">

            <div class="image-container">
            <img src="/img/series/<%= detailSerie.image%>" alt="">
            <div class="corazon">
            <i class="fas fa-heart"></i>
            <i class="fas fa-shopping-cart"></i>
        </div>
        </div>
    </div>
    <div class="contein-options">
        <div class="barOptions">
            <nav id="navOpt">
                <h3>Generos</h3>
                <i class="fas fa-align-justify"></i>
            </nav>
            <a href=""><h3>Historial</h3></a>
            <a href=""><h3>Lista de deseos</h3></a>
            <a href=""><h3>Estrenos</h3></a>
            <a href=""><h3>Ofertas</h3></a>
        </div>
    </div>
    <div class="title">
        <h3><%= detailSerie.title %></h3>
    </div>
        <div class="contenedor-box2">

            <img src="/img/series/<%= detailSerie.image%>">
            <div class="play">
            <i class="fas fa-play"></i>
            </div>

        </div>
        <div class="opcionesPelicula">
            <p>Idioma: <%- detailSerie.idiom %></p>
            <p class="espacios">|</p>
            <p>Subtítulos: <%- detailSerie.subtitle %></p>
            <p class="espacios">|</p>
            <p>Calidad: <%- detailSerie.appreciation %></p>
        </div>
        <div class="contenedor-estadisticas">
            <div>
                <div class="estrella">
                <h5><%= detailSerie.appreciation%> </h5>
                <i class="fas fa-star"></i>
            </div>
                <p>Calificación</p>
            </div>
            <p class="espacios">|</p>
            <div class="estadisticas">
                <h5>PG-18</h5>
                <p>Clasificación</p>
            </div>
            <p class="espacios">|</p>
            <div class="estadisticas">
                <h5><%= detailSerie.duration%></h5>
                <p>Duración</p>

            </div>
        </div>
        <div class="resumen-movie">
            <p><%= detailSerie.description%></p>

        </div>
        <div class="container-director">
            <h5><%= detailSerie.director%></h5>
            <h5><%= detailSerie.age %> </h5>
            <h5>Género:Familiar</h5>
        </div>
        <div class="icons">
            <a href=""><i class="fas fa-heart"></i> Añadir a favoritos</a>
            <a href=""><i class="fas fa-cart-plus"></i> Añadir a carrito</a>
        </div>

        <div class="botones">
            <button type="button" class="compra" id="comprar-serie">COMPRAR</button>
            <button type="button" class="alquilo" id="alquilo-serie">ALQUILAR</button>
        </div>

    </main>

    <%- include('../partials/footer')  %>

</body>

</html>

