<%- include ('../partials/head')  %> 
<body class="body-admin">
    <!-- Header -->
    <%- include ('../partials/adminHeader') %>
    <!-- Logo -->
    <%- include ('../partials/logoMobileAdmin') %>
    <!-- Admin menu -->
    <%- include('../partials/adminMenu') %>
    
    <!-- Section movies statistics -->
    <div class="all-section-products">
        <div class="all-section-movie">
            <section class="statistic__movies">
                <article class="table__statistic-movies">
                    <div class="info__statistic-movies">
                        <h2 class="title__statistic-movies">Informacion de general</h2>
                        <div class="dashboard-movies">
                            <div class="information">
                                <span class="info__movies amount">Total de peliculas : <%- movies.length %></span>
                                <span class="info__movies amount">Total de series : <%- series.length %>  </span>
                                <span class="info__movies amount">Total de series : <%- users.length %>  </span>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </div>


    <!-- Footer -->
    <%- include ('../partials/adminFooter') %>
</body>
</html>