<%- include('../partials/head') %>
<body class="body-admin">
    <!-- Header-->
    <%- include ('../partials/adminHeader') %>
    <!-- Logo mobile and tablet -->
    <%- include ('../partials/logoMobileADmin') %>
    <div class="form__files-desktopSerie">
        <div class="form-captionSerie">
            <form action="/admin/products/serie/<%- product.id %>?_method=PUT" method="post" id="form" class="edit-filesSerie" enctype="multipart/form-data">
                <div class="contain__titleSerie">
                    <b class="section-titleSeasons">Título:</b>
                    <input type="text" name="name" id="name" placeholder="Nombre" class="input__title-serie" value='<%- product.title %>'>
                    <small class="text-errors" id="nameErrors"></small>
                        <% if (locals.errors && errors.name) { %>
                            <small class="text-error"><%= errors.name.msg %></small>
                        <% } %>
                </div>
                <div class="contain__descriptionSerie">
                    <b class="section-descriptionSeasons">Sinopsis:</b>
                    <textarea type="text" name="description" id="description" placeholder="Descripción" class="input"><%- product.description %></textarea>
                    <small class="text-errors" id="descriptionErrors"></small>
                    <% if (locals.errors && errors.description) { %>
                        <small class="text-errors"><%= errors.description.msg %></small>
                    <% } %> 
                </div>
                <div class="info__serie-edit">
                    <div class="contain__season-serie">
                        <b class="section-seasons">Temporadas:</b>
                        <input type="number" name="seasons" id="seasons" placeholder="Temporadas" class="input" value="<%- product.seasons %>" style="display: block;" hidden>
                        <small class="text-errors" id="seasonsErrors"></small>
                        <% if (locals.errors && errors.seasons) { %>
                            <small class="text-errors"><%= errors.seasons.msg %></small>
                        <% } %>
                    </div>
                    <div class="contain__appreciation-serie">
                        <b class="section-appreciation">Apreciacion:</b>
                        <input type="number" step="any" name="appreciation" id="appreciation" placeholder="Calificación" class="input" value='<%-product.rating  %>'>
                        <small class="text-errors" id="appreciationErrors"></small>
                        <% if (locals.errors && errors.appreciation) { %>
                            <small class="text-errors"><%= errors.appreciation.msg %></small>
                        <% } %> 
                    </div>
                    <div class="contain__date-director">
                        <b class="section-Director">Director:</b>
                        <input type="text" name="director" id="director" placeholder="Director" class="input" value="<%- product.director %>">
                        <small class="text-errors" id="directorErrors"></small>
                        <% if (locals.errors && errors.director) { %>
                            <small class="text-errors"><%= errors.director.msg %></small>
                        <% } %> 
                    </div>
                    <div class="contain__date-years">
                        <label for="year">Año:</label>
                        <input type="month" name="age" id="age" placeholder="Año" class="input" value="<%- product.age.substring(0,7) %>">
                        <small class="text-errors" id="ageErrors"></small>
                        <% if (locals.errors && errors.age) { %>
                            <small class="text-errors"><%= errors.age.msg %></small>
                        <% } %>
                    </div>
                </div>
                <div class="edit__serie-config">
                    <div class="contain__date-genre">
                        <label for="genre">Genero:</label>
                        <div class="date__genre-flex">
                            <% genres.forEach(genre => { %>
                                <div class="item__genreSerie">
                                    <input type="checkbox" name="genre" value="<%- genre.name %>" <% for (let i = 0; i < product.Genres.length; i++) {
                                        if(genre.name === product.Genres[i].name) {
                                            %> checked <%
                                        }
                                    } %>><b class="item__editGenre"><%- genre.name %></b><br>
                                </div> 
                            <% }) %>
                        </div><br>
                        <small class="text-errors" id="genreErrors"></small>
                        <% if (locals.errors && errors.genre) { %>
                            <small class="text-errors"><%= errors.genre.msg %></small>
                        <% } %>
                    </div>
                    <div class="contain__date-idiom">
                        <label for="idiom">Idioma:</label>
                        <div class="containIdiom">
                            <% idioms.forEach(idiom => { %>
                                <div class="idiom__editSerie">
                                    <input type="checkbox" name="idiom" value="<%- idiom.name %>" <% for (let i = 0; i < product.Idioms.length; i++) {
                                    if(idiom.name === product.Idioms[i].name) {
                                    %> checked <%
                                }
                            } %>><b><%- idiom.name %></b><br>
                                </div>
                            <% }) %>
                        </div><br>
                        <small class="text-errors" id="idiomErrors"></small>
                        <% if (locals.errors && errors.idiom) { %>
                            <small class="text-errors"><%= errors.idiom.msg %></small>
                        <% } %> 
                    </div>
                    <div class="contain__date-subtitle">
                        <label for="idiom">Subtitulos:</label>
                        <select class="option__subtitle" id="subtitle">
                                <option type="radio" name="subtitle" value="Latino" <%- product.subtitle === "Latino" ? 'checked' : '' %>><b>Si</b></option>
                                <option type="radio" name="subtitle" value="No" <%- product.subtitle === "No" ? 'checked' : '' %>><b>No</b></option>
                        </select>
                        <small class="text-errors" id="subtitleErrors"></small>
                        <% if (locals.errors && errors.subtitle) { %>
                            <small class="text-errors"><%= errors.subtitle.msg %></small>
                        <% } %>
                    </div>
                </div>
                <div class="imgUrl__flex">
                    <div class="contain__date-img">
                        <label for="productImage">Cargar imagen de portada</label><br>
                        <div id="imgPreview"></div>
                        <input type="file" name="productImage" class="input">
                    </div>
                    <div class="contain__date-url">
                        <label for="video">Pegar URL del trailer</label>
                        <input type="url" name="video" class="input" value="https://www.youtube.com/watch?v=<%- product.trailer %>">
                    </div>
                </div>
                <div class="contain__edit-price">
                    <div class="contain__date-price">
                        <b class="price-list">Venta:</b>
                        <input type="number" name="price" id="buyPrice" placeholder="Precio de venta" class="input" value="<%- product.Price.buy %>" >
                    </div>
                    <div class="contain__date-rental">
                        <b class="price-rental">Alquiler:</b>
                        <input type="number" name="price" id="rentalPrice" placeholder="Precio de alquiler" class="input" value="<%- product.Price.rental %>" >
                        <small class="text-errors" id="discountErrors"></small>
                        <% if (locals.errors && errors.price) { %>
                            <small class="text-errors"><%= errors.price.msg %></small>
                        <% } %>
                    </div>
                    <div class="contain__date-discount">
                        <b class="price-discount">Descuento:</b>
                        <input type="number" name="price" id="discount" placeholder="Descuento" class="input" value="<%- product.Price.discount %>" >
                    </div>
                </div>
                <div class="contain__edit-enter">
                    <input type="submit" value="Editar" class="input__edit-enter">
                </div>
            </form>
        </div>
    </div>
    <div class="form__files">
        <div class="error">
            <p>
                Lo siento, solo es posible editar archivos desde su ordenador
            </p>
        </div>
    </div>
    <!-- Footer -->
    <%- include ('../partials/adminFooter') %>
    
</body>
</html>