<%- include ('../partials/head')  %> 
    <body class="body-admin">
        <!-- Header -->
        <%- include ('../partials/adminHeader') %>
        <!-- Logo mobile and tablet -->
        <%- include ('../partials/logoMobileAdmin') %>

        <!-- Menu admin -->
    <%- include ('../partials/adminMenu') %>
        
        <main class="information-users">
            <div class="information__users-flex">
                <div class="information__users-id">
                    <p class="id-user">Id</p>
                </div>
                <div class="information__users-first">
                    <p class="firstName-users">Nombre</p>
                </div>
                <div class="information__users-last">
                    <p class="lastName-users">Apellido</p>
                </div>
                <div class="information__users-rol">
                    <p class="rol-users">Rol</p>
                </div>
            </div>
            <div class="information__user-flex">
                <% users.forEach(elem => { %>
                    <div class="users-information">
                        <div class="information__user-id">
                            <p class="user-id"><%- elem.id %></p>
                        </div>
                        <div class="information__user-first">
                            <p class="firstName__user"><%- elem.first_name %></p>
                        </div>
                        <div class="information__user-last">
                            <p class="lastName__user"><%- elem.last_name %></p>
                        </div>
                        <div class="information__user-rol">
                            <% if (elem.Rol.id === 3) { %>
                                <p class="rol-user">S. Admin</p>
                            <% } else if (elem.Rol.id === 2) { %>
                                <p class="rol-user">Admin</p>
                            <% } else { %>
                                <p class="rol-user">Usuario</p>
                            <% } %>
                        </div>
                    </div>
                    <!-- <div class="information__user">
                        <p class="rol-user"></p>
                    </div> -->
                <% }) %>
            </div>
        </main>

        <!-- Footer -->
        <%- include ('../partials/adminFooter') %>
    </body>
</html>