<%- include('../partials/head') %> 

<body class="body-admin">

    <!-- Header section -->
    <%- include('../partials/adminHeader') %> 

    <%- include('../partials/logoMobileAdmin') %> >

    <%- include('../partials/adminMenu') %> >

    <!-- grid section movies -->
    <section class="result-search">
            <article class="result-article">
                <div class="hola">
                    <% if (all.length !== 0 && all.length !== all.User) { %>
                        <% all.forEach(element => {  %>
                            <a href="/products/serialMovie/<%= element.id %>">
                                <div class="hola">
                                    <img src="/img/products-images/<%= element.image %>" alt="">
                                </div>
                            </a>
                        <% }) %>
                    <% } else if (all == User && all.length !== 0) { %>
                        <% all.forEach(element => {  %>
                            <div class="hola">
                                <p><%= element.first_name %></p>
                            </div>
                            <div class="hola">
                                <p><%= element.last_name %></p>
                            </div>
                            <div class="information__user-rol">
                                <% if (elem.Rol.id === 3) { %>
                                    <p class="rol-user">S. Admin</p>
                                <% } else if (elem.Rol.id === 2) { %>
                                    <p class="rol-user">Admin</p>
                                <% } else { %>
                                    <p class="rol-user">Usuario</p>
                                <% } %>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <h2 class="no-results">No se encontraron resultados para la búsqueda</h2>
                    <% } %>
                </div>
            </article>
    </section>
    <!-- Footer section -->
    <%- include('../partials/adminFooter')  %>
</body>
</html>