<%- include('../partials/head') %>
<body class="body-admin">
    <!-- Header -->
    <%- include ('../partials/adminHeader') %>
    <!-- Logo mobile and tablet -->
    <%- include ('../partials/logoMobileADmin') %>

    <!-- Menu admin -->
    <%- include ('../partials/adminMenu') %>

    <!-- Form charge -->
    <div class="form__files-desktop">
        <div class="form-caption">
            <form action="/admin/form" method="post" id="form" class="upload-files" enctype="multipart/form-data">
                <div class="contain__date">
                    <label for="movieSeries" class="up">A subir:</label>
                    <select name="movieSeries" id="movieSeries" class="select-input" onchange="showHide()" >
                        <option value="movie" id="selectMovie">Pelicula</option>
                        <option value="serie" id="selectSerie">Serie</option>
                    </select>
                </div>
                <div class="contain__date">
                    <input type="text" name="name" id="name" placeholder="Nombre" class="input" >
                    <small class="text-errors submitErrors" id="nameErrors"></small>
                    <% if (locals.errors && errors.name) { %>
                        <small class="text-error submitErrors"><%= errors.name.msg %></small>
                    <% } %> 
                </div>
                <div class="contain__date">
                    <textarea type="text" name="description" id="description" placeholder="Descripción" class="input"></textarea>
                    <small class="text-errors" id="descriptionErrors"></small>
                    <% if (locals.errors && errors.description) { %>
                        <small class="text-errors"><%= errors.description.msg %></small>
                    <% } %> 
                </div>
                <div class="flex__organized">
                    <div class="contain__date-organized">
                        <input type="number" name="seasons" id="seasons" placeholder="Temporadas" class="input__organized" hidden>
                        <small class="text-errors submitErrors" id="seasonsErrors"></small>
                    </div>
                    <div class="contain__date-organized">
                        <input type="number" name="duration" id="duration" placeholder="Duración en minutos" class="input__organized">
                        <small class="text-errors submitErrors" id="durationErrors"></small>
                        <% if (locals.errors && errors.movieSeries) { %>
                            <small class="text-errors submitErrors"><%= errors.movieSeries.msg %></small>
                        <% } %> 
                    </div>
                    <div class="contain__date-organized">
                        <input type="number" step="any" name="appreciation" id="appreciation" placeholder="Calificación" class="input__organized">
                        <small class="text-errors" id="appreciationErrors"></small>
                        <% if (locals.errors && errors.appreciation) { %>
                            <small class="text-errors"><%= errors.appreciation.msg %></small>
                        <% } %> 
                    </div>
                    <div class="contain__date-organized">
                        <input type="text" name="director" id="director" placeholder="Director" class="input__organized">
                        <small class="text-errors" id="directorErrors"></small>
                        <% if (locals.errors && errors.director) { %>
                            <small class="text-errors"><%= errors.director.msg %></small>
                        <% } %> 
                    </div>
                    <div class="contain__date-organized">
                        <label for="year">Año:</label>
                        <input type="month" name="age" id="age" placeholder="Año" class="input__organized" >
                        <small class="text-errors" id="ageErrors"></small>
                        <% if (locals.errors && errors.age) { %>
                            <small class="text-errors"><%= errors.age.msg %></small>
                        <% } %>
                    </div>
                </div>
                <div class="flex__organized">
                    <div class="contain__info-flex">
                        <label for="genre" class="title-genre"><b>Genero:</b></label>
                        <div class="form-check-container">
                            <% genres.forEach(genre => { %>
                                <input type="checkbox" id="genre" class="genre" name="genre" value="<%- genre.name %>"><b><%- genre.name %></b><br>
                            <% }) %>
                        </div>
                        <small class="text-errors" id="genreErrors"></small>
                        <% if (locals.errors && errors.genre) { %>
                            <small class="text-errors"><%= errors.genre.msg %></small>
                        <% } %> 
                    </div>
                    <div class="contain__info-flex">
                        <label for="idiom" class="title-idiom">Idioma:</label>
                        <div class="form-check-container">
                            <% idioms.forEach(idiom => { %>
                                <input type="checkbox" name="idiom" class="idiom" id="idiom" value="<%- idiom.name %>"><b><%- idiom.name %></b><br>
                            <% }) %>
                        </div>
                        <small class="text-errors" id="idiomErrors"></small>
                        <% if (locals.errors && errors.idiom) { %>
                            <small class="text-errors"><%= errors.idiom.msg %></small>
                        <% } %> 
                    </div>
                    <div class="contain__info-flex">
                        <label for="idiom" class="title-subtitle">Subtitulos:</label>
                        <select class="form-check-container" name="subtitle" id="subtitle">
                            <option value="0" selected disable></option>
                            <option type="radio" value="Latino"><b>Si</b><br class="separated-options"></option>
                            <option type="radio" value="No"><b>No</b></option>
                        </select>
                        <small class="text-errors" id="subtitleErrors"></small>
                        <% if (locals.errors && errors.subtitle) { %>
                            <small class="text-errors"><%= errors.subtitle.msg %></small>
                        <% } %>
                    </div>
                </div>
                <div class="organized-imgUrl">
                    <div class="contain__dateImg">
                        <label for="productImage">Cargar imagen de portada</label><br>
                        <div id="imgPreview"></div>
                        <input type="file" name="productImage" id="file" class="input-img">
                        <!-- <small class="text-errors submitErrors" id="fileErrors"></small>
                        <% if (locals.errors && errors.productImage) { %>
                            <small class="text-errors submitErrors"><%= errors.productImage.msg %></small>
                        <% } %> --> 
                    </div>
                    <div class="contain__dateUrl">
                        <label for="video">Pegar URL del trailer</label><br>
                        <input type="url" name="video" id="video" class="input-url">
                        <small class="text-errors submitErrors" id="videoErrors"></small>
                        <% if (locals.errors && errors.video) { %>
                            <small class="text-errors submitErrors"><%= errors.video.msg %></small>
                        <% } %> 
                    </div>
                </div>
                <div class="organized-priceDiscount">
                    <div class="contain__datePrice">
                        <input type="number" name="price" id="buyPrice" placeholder="Precio de venta" class="input-price">
                        <small class="text-errors submitErrors" id="buyPriceErrors"></small>
                        <% if (locals.errors && errors.price) { %>
                            <small class="text-errors submitErrors"><%= errors.price.msg %></small>
                        <% } %> 
                    </div>
                    <div class="contain__dateRental">
                        <input type="number" name="price" id="rentalPrice" placeholder="Precio de alquiler" class="input-rental">
                        <small class="text-errors submitErrors" id="rentalPriceErrors"></small>
                        <% if (locals.errors && errors.price) { %>
                            <small class="text-errors submitErrors"><%= errors.price.msg %></small>
                        <% } %> 
                    </div>
                    <div class="contain__dateDiscount">
                        <input type="number" name="price" id="discount" placeholder="Descuento" class="input-discount">
                        <small class="text-errors submitErrors" id="discountErrors"></small>
                        <% if (locals.errors && errors.price) { %>
                            <small class="text-errors submitErrors"><%= errors.price.msg %></small>
                        <% } %> 
                    </div>
                </div>
                <div class="contain__date">
                    <span id="submitErrors"></span>
                    <button type="submit" value="Cargar" class="input-enter">Cargar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="form__files">
        <div class="error">
            <p>
                Lo siento, solo es posible cargar archivos desde su ordenador
            </p>
        </div>
    </div>
    <!-- Footer -->
    <%- include ('../partials/adminFooter') %>
    <script src="/js/uploadFiles.js"></script>
</body>
</html>