<%- include('../partials/head') %>
<body class="body-admin">
    <!-- Header-->
    <%- include ('../partials/adminHeader') %>
    <!-- Logo mobile and tablet -->
    <%- include ('../partials/logoMobileADmin') %>
    <div class="form__files-desktop">
        <div class="form-caption">
            <form action="/admin/form" method="post" class="upload-files" enctype="multipart/form-data">
                <div class="contain__date">
                    <label for="movieSeries" class="up">A subir:</label>
                    <select name="movieSeries" id="movieSeries" class="select-input" onchange="showHide()" >
                        <option value="movie" id="selectMovie">Pelicula</option>
                        <option value="serie" id="selectSerie">Serie</option>
                    </select>
                </div>
                <div class="contain__date">
                <input type="text" name="name" id="nombre" placeholder="Nombre" class="input" required>
                </div>
                <div class="contain__date">
                    <textarea type="text" name="description" id="comentario" placeholder="Descripción" class="input"></textarea required>
                </div>
               
                <div class="flex__organized">
                    <div class="contain__date-organized">
                        <input type="number" name="seasons" id="seasons" placeholder="Temporadas" class="input__organized" hidden>
                    </div>
                    <div class="contain__date-organized">
                        <input type="number" name="duration" id="duration" placeholder="Duración en minutos" class="input__organized">
                    </div>
                    <div class="contain__date-organized">
                        <input type="number" step="any" name="appreciation" id="appreciation" placeholder="Calificación" class="input__organized" required>
                    </div>
                    <div class="contain__date-organized">
                        <input type="text" name="director" id="director" placeholder="Director" class="input__organized" required>
                    </div>
                    <div class="contain__date-organized">
                        <label for="year">Año:</label>
                        <input type="month" name="age" id="age" placeholder="Año" class="input__organized" required>
                    </div>
                </div>
                <div class="flex__organized">
                    <div class="contain__info-flex">
                        <label for="genre" class="title-genre"><b>Genero:</b></label>
                        <div class="genre-flex">
                            <% genres.forEach(genre => { %>
                                <input type="checkbox" name="genre" value="<%- genre.name %>"><b><%- genre.name %></b></input><br>
                            <% }) %>
                        </div>
                    </div>
                    <div class="contain__info-flex">
                        <label for="idiom" class="title-idiom">Idioma:</label>
                        <div class="form-check-container">
                            <% idioms.forEach(idiom => { %>
                                <input type="checkbox" name="idiom" value="<%- idiom.name %>"><b><%- idiom.name %></b></input><br>
                            <% }) %>
                        </div>
                    </div>
                    <div class="contain__info-flex">
                        <label for="idiom" class="title-subtitle">Subtitulos:</label>
                        <div class="form-check-container">
                            <input type="radio" name="subtitle" value="Latino" checked><b>Si</b><br class="separated-options">
                            <input type="radio" name="subtitle" value="No"><b>No</b>
                        </div>
                    </div>
                </div>
                <div class="organized-imgUrl">
                    <div class="contain__dateImg">
                        <label for="productImage">Cargar imagen de portada</label><br>
                        <input type="file" name="productImage" class="input-img">
                    </div>
                    <div class="contain__dateUrl">
                        <label for="video">Pegar URL del trailer</label><br>
                        <input type="url" name="video" class="input-url" required>
                    </div>
                </div>
                <div class="organized-priceDiscount">
                    <div class="contain__datePrice">
                        <input type="number" name="price" id="buyPrice" placeholder="Precio de venta" class="input-price" required>
                    </div>
                    <div class="contain__dateRental">
                        <input type="number" name="price" id="rentalPrice" placeholder="Precio de alquiler" class="input-rental" required>
                    </div>
                    <div class="contain__dateDiscount">
                        <input type="number" name="price" id="discount" placeholder="Descuento" class="input-discount" required>
                    </div>
                </div>
                <div class="contain__date">
                    <input type="submit" value="Cargar" class="input-enter">
                </div>
            </form>
        </div>
    </div>
    <div class="form__files">
        <div class="error">
            <p>
                Lo siento, solo es posible cargar archivos desde su ordenador
            </p>
        </div>
    </div>
    <!-- Footer -->
    <%- include ('../partials/adminFooter') %>
    <script src="/js/uploadFiles.js"></script>
</body>
</html>