    <%- include('../partials/head') %>
    
<body>
    <main>
        <div class="logo-container-forms">
            <a class="logo-forms" href="/">
                <img src="/img/Blanco.svg" alt="Logo Slow Motion">
                <p>SLOW MOTION</p>
            </a>
        </div>
        <div class="forms-container">
            <form action="/users/register" method="post" enctype="multipart/form-data">
                <div class="form-title title-center-register">
                    <h2>Crear Cuenta</h2>
                </div>
                <div class="form-input-container">
                    <div class="form-input">
                        <input type="text" name="name" id="name" placeholder="Nombre" value="<%- locals.old && old.name %>">
                        <% if (locals.errors && errors.name) { %>
                            <small id="nameErrors"><%- errors.name.msg %></small>
                        <% } %>                 
                    </div>
                    <div class="form-input">
                        <input type="text" name="lastName" id="lastName" placeholder="Apellido" value="<%- locals.old && old.lastName %>">
                        <% if (locals.errors && errors.lastName) { %>
                            <small id="lastNameErrors"><%= errors.lastName.msg %></small>
                        <% } %>  
                    </div>
                    <div class="form-input">
                        <input type="text" name="userName" id="userName" placeholder="Nombre de usuario" value="<%- locals.old && old.userName %>">
                        <% if (locals.errors && errors.userName) { %>
                            <small id="userNameErrors"><%= errors.userName.msg %></small>
                        <% } %> 
                    </div>
                    <div class="form-input">
                        <input type="email" name="email" id="email" placeholder="Correo Electronico" value="<%- locals.old && old.email %>">
                        <% if (locals.errors && errors.email) { %>
                            <small id="emailErrors"><%= errors.email.msg %></small>
                        <% } %> 
                    </div>
                    <div class="form-input">
                        <input type="password" name="pass1" id="pass1" placeholder="Contraseña: Alfanumerico">
                        <% if (locals.errors && errors.pass1) { %>
                            <small id="pass1Errors"><%= errors.pass1.msg %></small>
                        <% } %>
                    </div>
                    <div class="form-input">
                        <input type="password" name="pass2" id="pass2" placeholder="Repetir Contraseña">
                        <% if (locals.errors && errors.pass2) { %>
                            <small id="pass2Errors"><%= errors.pass2.msg %></small>
                        <% } %>
                    </div>
                    <div class="form-input">
                        <input type="file" name="userImage" placeholder="Ingrese un avatar">
                    </div>
                    <div class="checkbox">
                        <label for="terms" style="color: yellow;">Acepta los terminos y condiciones</label>
                        <input type="checkbox" name="terms" id="terms">
                        <% if (locals.errors && errors.terms) { %>
                            <small id="termsErrors"><%= errors.terms.msg %></small>
                        <% } %>
                    </div>
                    <div class="btn-enviar-form">
                        <input class="send-login" type="submit" value="Registrarse">
                    </div>
                </div>
            </form>
        </div>
    </main>
    
    <%- include('../partials/footer')  %>
    <script src="../js/register.js"></script>
</body>
</html>