<%- include('../partials/head') %>

<body class="user-profile">
    <%- include('../partials/header') %> 

    <div class="profile-container">
        <div class="profile-title">
            <h2>Perfil del usuario</h2>
        </div>
        <div class="container-img-name">
            <div class="user-avatar">
                <img src="/img/users-images/<%= session.user.avatar %>" alt="Avatar image">
            </div>
            <div class="user-name">
                <h3><%= session.user.name %> <%= session.user.lastName %></h3>
            </div>
        </div>
        <div class="container-user-data">
            <div class="user-email">
                <p><%= session.user.email %></p>
            </div>
            <div class="user-pass">
                <p>********</p>
            </div>
            <div class="user-edit-form forms-container">
                <form action="">

                    <div class="form-input-container">
                        <div class="form-input">
                            <input type="text" name="phone" placeholder="Teléfono">
                        </div>
                    </div>
                    <div class="form-input-container">
                        <div class="form-input">
                            <label for="dateOfBirth" class="label-profile">Fecha de nacimiento</label>
                            <input type="date" name="dateOfBirth">
                        </div>
                    </div>
                    <div class="form-input-container">
                        <div class="form-input">
                            <input type="text" name="genre" placeholder="Género">
                        </div>
                    </div>
                    <div class="form-input-container">
                        <div class="form-input">
                            <input type="text" name="address" placeholder="Dirección">
                        </div>
                    </div>
                    <div class="form-input-container">
                        <div class="form-input">
                            <input type="text" name="country" placeholder="País">
                        </div>
                    </div>
                    <div class="form-input-container">
                        <div class="form-input">
                            <input type="text" name="province" placeholder="Provincia">
                        </div>
                    </div>
                    <div class="form-input-container">
                        <div class="form-input">
                            <input type="text" name="city" placeholder="Ciudad">
                        </div>
                    </div>
                    <div class="user-edit">
                        <input type="submit" value="Editar perfil">
                    </div>
                </form>
            </div>
        </div>
        <div class="container-user-options">
            <div class="container-user-favorite">
                <h3>Mis favoritos</h3>
                <div class="user-favorites">
                    <div class="movie-favorite">
                        <img src="/img/Series/BlackMirror720x1080.jpg" alt="">
                    </div>
                    <div class="movie-favorite">
                        <img src="/img/Peliculas/MortalKombat720x1080.jpg" alt="">
                    </div>
                    <div class="movie-favorite">
                        <img src="/img/Peliculas/MortalKombat720x1080.jpg" alt="">
                    </div>
                    <div class="movie-favorite">
                        <img src="/img/Series/BlackMirror720x1080.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="container-user-data">
                
            </div>
        </div>
    </div>

    <%- include('../partials/footer')  %>
</body>